<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加房源</title>
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        body {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <form th:action="@{/house/add}"
          method="post"
          id="addForm"
          enctype="multipart/form-data"
          class="form-horizontal" role="form" >
        <!-- 省 -->
        <div class="form-group">
            <label for="province" class="col-sm-2 control-label">所在省</label>
            <div class="col-sm-3 input-group">
                <select name="province" id="province" class="form-control">
                    <option value="">-- 请选择 --</option>
                </select>
            </div>
        </div>
        <!-- 市 -->
        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">所在市</label>
            <div class="col-sm-3 input-group">
                <select name="city" id="city" class="form-control">
                    <option value="">-- 请选择 --</option>
                </select>
            </div>
        </div>
        <!-- 区 -->
        <div class="form-group">
            <label for="area" class="col-sm-2 control-label">所在县区</label>
            <div class="col-sm-3 input-group">
                <select name="area" id="area" class="form-control">
                    <option value="">-- 请选择 --</option>
                </select>
            </div>
        </div>
        <!-- 租赁方式 -->
        <div class="form-group">
            <label for="rent_mode" class="col-sm-2 control-label">租赁方式</label>
            <div class="col-sm-3 input-group">
                <select name="rentMode" id="rent_mode" class="form-control">
                    <option value="">-- 请选择 --</option>
                </select>
            </div>
        </div>
        <!-- 朝向 -->
        <div class="form-group">
            <label for="orientation" class="col-sm-2 control-label">朝向</label>
            <div class="col-sm-3 input-group">
                <select name="orientation" id="orientation" class="form-control">
                    <option value="">-- 请选择 --</option>
                </select>
            </div>
        </div>
        <!-- 户型 -->
        <div class="form-group">
            <label for="house_type" class="col-sm-2 control-label">户型</label>
            <div class="col-sm-3 input-group">
                <select name="houseType" id="house_type" class="form-control">
                    <option value="">-- 请选择 --</option>
                </select>
            </div>
        </div>
        <!-- 租金 -->
        <div class="form-group">
            <label for="rental" class="col-sm-2 control-label">租金</label>
            <div class="col-sm-3 input-group">
                <input type="number" name="rental" id="rental" class="form-control">
            </div>
        </div>
        <!-- 地址 -->
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">地址</label>
            <div class="col-sm-3 input-group">
                <input type="text" name="address" id="address" class="form-control" placeholder="请输入用户住址">
            </div>
        </div>
        <!-- 图片 -->
        <div class="form-group">
            <label for="file" class="col-sm-2 control-label">房屋图片</label>
            <div class="col-sm-3 input-group">
                <input type="file" name="file" id="file" class="form-control">
            </div>
        </div>
        <!-- 添加按钮 -->
        <div class="form-group ">
            <div class="col-sm-offset-2 col-sm-3">
                <button type="submit" class="btn btn-info">添加</button>
            </div>
        </div>
    </form>
    <script th:src="@{/lib/js/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/lib/js/jquery/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/lib/js/jquery/validate/messages_zh.min.js}"></script>
    <script th:inline="javascript">
        // 定义contextPath
        const path =[[${#request.getContextPath()}]];
        const emptyOption = "<option value=''>-- 请选择 --</option>"
        $(function () {
            House.queryArea('province');

            $("#province").change(function () {
                $('#city').html(emptyOption);
                $('#area').html(emptyOption);
                if(this.value){ // 当value的值不是空字符串/undefined的时候执行查询
                    House.queryArea('city',this.value);
                }
            });

            $('#city').change(function () {
                $('#area').html(emptyOption)
                if(this.value){
                    House.queryArea('area',this.value)
                }
            });

            // 加载租赁方式 朝向 户型的字典数据
            House.queryDict('rent_mode');
            House.queryDict('orientation');
            House.queryDict('house_type');

            House.validateForm();
        })

        // 定义house对象
        let House = {
            queryArea: function (documentId, pid) {
                // 如果不传pid，则默认为0，就是默认查询省一级
                pid = pid || 0;
                $.ajax({
                    url: path + "/area/queryByPid",
                    type: 'GET',
                    data: 'pid=' + pid,
                    dataType: 'json',
                    success: function (res) {
                        let options = "<option value=''>-- 请选择 --</option>"
                        for (let area of res) {
                            options += "<option value='" + area.id + "'>"
                                + area.name
                                + "</option>";
                        }
                        $("#" + documentId).html(options);
                    }
                })
            },
            /**
             * 这里把dom的id和groupId设置为相同的值，所以不需要传入domid了
             * @param groupId
             */
            queryDict: function (groupId) {
                $.ajax({
                    url: path + "/dict/" + groupId,
                    type: 'GET',
                    data: '',
                    success: function (res) {
                        let options = "<option value=''>-- 请选择 --</option>";
                        $.each(res, function (index, dict) {
                            options += "<option value='" + dict.value + "'>"
                                + dict.name
                                + "</option>"
                        });
                        // 为租赁方式 户型的下拉框赋值
                        $('#' + groupId).html(options)
                    }
                });
            },
            validateForm: function () {
                $('#addForm').validate({

                    debug: false,
                    //submitHandler: function (form) {
                       // alert('检验成功!')
                    //},

                    // 修改提示信息的元素类型，m默认是label，这修改成div
                    // 这里使用layui的时候一定要改成div
                    errorElement: 'div',

                    /**
                     *
                     * @param errorEle：错误提示消息元素的显示位置
                     * @param validateEle
                     */
                    errorPlacement: function (errorEle, validateEle) {
                        errorEle.addClass('input-group-addon');
                        errorEle.appendTo(validateEle.parent());
                    },

                    success: function (msgElement) {
                        msgElement.addClass('input-group-addon').text('OK')
                    },

                    // 校验规则
                    rules: {
                        province: 'required',
                        city: 'required',
                        area: 'required',
                        rentMode: 'required',
                        rental: {
                            required: true,
                            positiveInt: true,
                            max: 100000
                        },
                        address: {
                            required: true,
                            maxlength: 10
                        },
                    },
                    // 校验信息提示
                    messages: {
                        province: '必选项',
                        city: '必选项',
                        area: '必选项',
                        rentMode: '必选项',
                        rental:{
                            required: '必填项',
                            positiveInt: '必须是大于0的整数',
                            max: '最大为10万'
                        },
                        address: {
                            required: '必填项',
                            maxlength: '10个字符以内'
                        }
                    }
                });
                $.validator.addMethod('positiveInt', function (value, element) {
                    let reg = /^\+?[1-9]\d*$/;
                    return this.optional(element) || (reg.test(value));
                }, '必须是大于0的正整数')
            },
        };
    </script>
</body>
</html>